name: Build App

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-mac:
    runs-on: macos-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'
      
      # - name: Install LibreOffice
      #   run: |
      #     brew install --cask libreoffice
      #     mkdir -p libreoffice
      #     cp -R /Applications/LibreOffice.app libreoffice/
      
      # - name: Install dependencies
      #   run: npm ci
      
      - name: Build Mac app
        run: npm run build:mac
      
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mac-installer
          path: dist/*.zip